body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.input-container {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: #45a049;
    font-size: 17px;
}

.result-container {
    background-color: #c5e4c7;
    padding: 10px;
    border-radius: 5px;
}

#result {
    font-size: 18px;
    color: #333;
}

